@font-face {
  font-family: 'CoreHumanistSans';
  src: url('CoreHumanistSans.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'vjs';
  src: url('vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Home {
  margin-left:5%;
  margin-right:5%;
}


::selection {
  background: #a0a3a1;
  /* Background color when text is selected */
  color: #ffffff;
  /* Text color when selected */
}

.NavBar {
  position: sticky;
  opacity: 1;
  /* Sticks to the very top */
  z-index: 1000;
  /* Ensures it stays above other content */
  background: #F4F5F1;
  /* Keeps it visible while scrolling */
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional subtle shadow */
  transition:opacity 0.45s ease-in-out, visibility 0s linear 0s;
}

.brandimage {
  border-radius: 10px;
  box-shadow: none;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
}


.MenuBar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
  font-style: bold;
  font-size: 20px;
  font-family: CoreHumanistSans;
}

@media (max-width: 768px) {
  .MenuBar {
    transition: 0.45s;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .NavBar {
    position: relative;
    opacity: 1;
    width: 50;
    top: 0;
    /* Sticks to the very top */
    z-index: 1000;
    /* Ensures it stays above other content */
    background: #F4F5F1;
    /* Keeps it visible while scrolling */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional subtle shadow */
    transition: width 0.45s ease-in-out, opacity 0.45s ease-in-out, visibility 0s linear 0s;
  }

}

.Copyright {
  font-size: 18px;
  color: #a0a3a1;
}