.ProjectCards{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    margin: 10px auto;   /* centers block horizontally if width < 100% */
    width: 80%;
    height: 100%;
    justify-content: center; /* vertical centering */
    align-items: center; 
}

