.Projects-desc {
    display: flex;
    flex-direction: row;
    top: 0;
}
.Imageitem{
    height: 180px;
    width: auto;
}

.Projects{
    padding: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

.Images{
    padding: 0px;
    margin: 0px;
}

.Projects-Text-Section {
    text-align: left;
}

h1 {
    color: black;
}

@media (max-width: 768px) {
    .Projects-desc {
        transition: 0.45s;
        flex-direction: column;
        align-items: center;
    }


}