.Icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    gap: 20px;
}

.Icons-img{
    height: 32px;
    transition: 0.45s;
}

.Icons-img:hover{
    height: 45px;
    transition: 0.45s;
    cursor: pointer;
}

.Dialogbox{
    background-color: #e0e1dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 50%;
    margin-left:25%;
    margin-top: 20px;
    justify-content: center;
}

.Email{
    display: none;
}

.Github{
    display: none;
}

.EmailText.Email{
    display: block;
}

.EmailText.notisEmail{
    display: none;
}

.GithubText.Github{
    display: block;
}

.GithubText.notisGithub{
    display: none;
}